__pycache__/
*.pyc

.env
env
db.sqlite3
*.sql

*.ipynb
.ipynb_checkpoints/

local_settings.py
venv
staticfiles
node_modules/
.idea/
Vagrantfile
.vagrant
*.dump
.mariadata
Pipfile.lock
.vscode
migrations
.pgdata
.pytest_cache
logs
