{% extends 'base_custom_edit.html' %}

{% block body %}
<div id="app">
<ul class="nav nav-tabs">
    <li><a href="/admin/books/">List</a></li>
    <li><a href="/admin/books/new/?url=%2Fadmin%2Fbooks%2F">Create</a></li>
    <li class="active"><a href="javascript:void(0)">Edit</a></li>
</ul>
<form action="" method="POST" role="form" class="admin-form form-horizontal" enctype="multipart/form-data">
    <div class="container">
    <h2>Book</h2>
    <div class="form-group">
        <label for="slug" class="col-md-2 control-label">Slug
            <strong style="color: red">*</strong>
        </label>
        <div class="col-md-10">
            <input class="form-control" id="slug" name="slug" required="" type="text" value="" >
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-2 control-label">Title
            <strong style="color: red">*</strong>
        </label>
        <div class="col-md-10">
            <input class="form-control" id="title" name="title" required="" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="subtitle" class="col-md-2 control-label">Subtitle</label>
        <div class="col-md-10">
            <input class="form-control" id="subtitle" name="subtitle" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="language" class="col-md-2 control-label">Language</label>
        <div class="col-md-10">
            <input class="form-control" id="language" name="language" type="text" value="ko">
        </div>
    </div>
    <div class="form-group">
        <label for="place" class="col-md-2 control-label">Place</label>
        <div class="col-md-10">
            <input class="form-control" id="place" name="place" type="text" value="Seoul">
        </div>
    </div>
    <div class="form-group">
        <label for="medium" class="col-md-2 control-label">Medium</label>
        <div class="col-md-10">
            <input class="form-control" id="medium" name="medium" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="page_amt" class="col-md-2 control-label">Page Amt</label>
        <div class="col-md-10">
            <input class="form-control" id="page_amt" name="page_amt" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="binding" class="col-md-2 control-label">Binding</label>
        <div class="col-md-10">
            <input class="form-control" id="binding" name="binding" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="colorspace" class="col-md-2 control-label">Colorspace</label>
        <div class="col-md-10">
            <select class="form-control" id="colorspace" name="colorspace" title="Colorspace">
                <option selected="" value="CMYK">CMYK</option>
                <option value="RGB">RGB</option>
                <option value="GRAY">GRAY</option>
                <option value="BNW">BNW</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="summary" class="col-md-2 control-label">Summary</label>
        <div class="col-md-10">
            <textarea class="form-control" id="summary" name="summary"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="toc" class="col-md-2 control-label">Toc</label>
        <div class="col-md-10">
            <textarea class="form-control" id="toc" name="toc"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="publishedtime" class="col-md-2 control-label">Publishedtime<strong style="color: red">*</strong></label>
        <div class="col-md-10">
            <input class="form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-role="datetimepicker" id="publishedtime" name="publishedtime" required="" type="text" value="">
        </div>
    </div>
    </div>
    <div class="container">
        {% raw %}
        <div class="form-group"><h2>Credit</h2></div>
        <div class="form-group">
            <label for="language" class="col-md-2 control-label">Add credit</label>
            <div class="col-md-10">
                <div class="col-md-4">
                    <select class="form-control" v-model="appendPartner.type">
                        <option value="">select credit type</option>
                        <option 
                            v-for="types in bookpartnerTypes" :value="types.value">
                            {{types.label}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" v-model="appendPartner.id">
                        <option value="">select artists</option>
                        <option v-for="artist in listArtists" :value="artist.id">{{artist.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 btn-group">
                    <button class="btn btn-primary" type="button" v-on:click="append">Append</button>
                </div>
            </div>
        </div>
        <hr />
        <div v-for="(credit, key, index) in credits" 
            class="form-group credit-section">
            <div class="form-group">
                <label class="col-md-2 control-label">{{typeLabelByValue(key)}}</label>
                <div class="col-md-10">
                    <div v-if="credit" 
                        v-for="(type, typekey) in credit"
                        :key="typekey" 
                        class="btn-group btn-group-sm tag-set">
                        <span class="btn btn-default">
                            {{type.name}}
                        </span>
                        <button type="button" 
                            class="btn btn-info"
                            v-if="typekey > 0" 
                            v-on:click="moveArtist('left', key, typekey)">
                            <span class="glyphicon glyphicon glyphicon-arrow-left"></span>
                        </button>
                        <button type="button" 
                            class="btn btn-info"
                            v-if="typekey < (credit.length - 1)" 
                            v-on:click="moveArtist('right', key, typekey)">
                            <span class="glyphicon glyphicon glyphicon-arrow-right"></span>
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click="deleteArtist(key, typekey)">
                            <span class="glyphicon glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>

    <hr>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 submit-row">
            <input type="submit" class="btn btn-primary" value="Save">
            <input name="_add_another" type="submit" class="btn btn-default" value="Save and Add Another">
            <input name="_continue_editing" type="submit" class="btn btn-default" value="Save and Continue Editing">
            <a href="/admin/books/" class="btn btn-danger" role="button">Cancel</a>
        </div>
    </div>
</form>
</div>

<script src="{{ url_for('static', filename='js/book_create.js') }}"></script>
{% endblock %}